<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <swiper-container init="false" #swiper [pagination]="true" [scrollbar]="{ draggable: true }">
    <swiper-slide>
      <img src="https://loremflickr.com/600/400?random=1" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://loremflickr.com/600/400?random=2" />
    </swiper-slide>
    <swiper-slide>
      <img src="https://loremflickr.com/600/400?random=3" />
    </swiper-slide>
  </swiper-container>
</ion-content>
